<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- All,Info,Debug,Warning,Error -->
    <add key="DebugLevel" value="Error" />
    <!-- In order to use below settings please specify in the command line a
         single argument named "UseConfigFile". Doing so will ignore all other
         command line arguments and will use instead this config file arguments. -->
    <add key="ScanColor" value="False" />
    <!--<add key="ScanResolution" value="150" />-->
    <add key="ShowScannerUI" value="False" />
    <!--<add key="AutomaticDeskew" value="False" />-->
    <!--<add key="AutomaticBorderDetection" value="False" />-->
    <!--<add key="ShouldTransferAllPages" value="False" />-->
    <add key="AbortWhenNoPaperDetectable" value="True" />
    <!--<add key="UseDocumentFeeder" value="True" />-->
    <add key="ShowProgressIndicatorUI" value="True" />
    <!--<add key="UseDuplex" value="True" />-->
    <!--<add key="AutomaticRotate" value="True" />-->
    <!--<add key="UseAutoFeeder" value="False" />-->
    <!--<add key="UseAutoScanCache" value="False" />-->
    <!--<add key="TransferCount" value="-1" />-->
    <!-- Possible values are Book,FanFold -->
    <!--<add key="FlipSideRotation" value="Book" />-->
    <!-- Possible values are Inches,Centimeters,Picas,Points,Twips,Pixels,Millimeters -->
    <!--<add key="Units" value="Inches" />
    <add key="AreaSize" value="0,0,0,0" />-->
    <!-- Possible values are Default,Rotate90,Rotate180,Rotate270 -->
    <!--<add key="Orientation" value="Default" />-->
    <!-- Possible values are None,A4,JISB5,UsLetter,UsLegal,A5,ISOB4,ISOB6,B,UsLedger,UsExecutive,A3,ISOB3,
         A6,C4,C5,C6,_4A0,_2A0,A0,A1,A2,A7,A8,A9,A10,ISOB0,ISOB1,ISOB2,ISOB5,ISOB7,ISOB8,ISOB9,ISOB10,
         JISB0,JISB1,JISB2,JISB3,JISB4,JISB6,JISB7,JISB8,JISB9,JISB10,C0,C1,C2,C3,C7,C8,C8,C9,C10,UsStatement
         BusinessCard,MaxSize-->
    <!--<add key="PageTypeSize" value="A4" />-->
    <!-- If set to FALSE then single page format like jpeg with multi pages scanned
         will be saved with a sufix of "_n". e.g. "1_0.jpeg" "1_1.jpeg" "1_2.jpeg" etc.
         If set to TRUE then the scanned pages will be merged using TIFF format. -->
    <add key="MergeMultiImage" value="True" />
    <!-- This setting is the only one which is a must either here or as command line parameter.
         Also, the filen extension sets the output file type.
         Supported extension are: PDF, TIFF, JPEG, BMP, GIF, PNG -->
    <add key="FileName" value="c:\temp\TempImage.jpeg" />
    <!-- When empty the default device will be selected. -->
    <!--<add key="SetDevice" value="" />-->
  </appSettings>
</configuration>